<h2> Get data from individual JSON files and store in one pandas DataFrame

Loop through all the Step data JSON files in the folder and load into one pandas DataFrame. Then save out to a csv

In [5]:
import os
import json
import pandas as pd
dfall = pd.DataFrame()

directory = r'C:\Users\darki\Documents\Jupyter\Fitbit Analysis\StepData'
for entry in os.scandir(directory):
    if (entry.path.endswith(".json") and entry.is_file()):
            df = pd.read_json (entry.path)
            dfall = dfall.append(df)

In [6]:
#view counts in the dfall DataFrame
dfall.count()

dateTime    168421
value       168421
dtype: int64

In [7]:
#re-index to remove key
dfall.set_index("dateTime")

                     value
dateTime
2021-01-13 00:03:00      0
2021-01-13 00:11:00      0
2021-01-13 00:12:00    450
2021-01-13 00:13:00      0
2021-01-13 00:14:00      0
...                    ...
2021-10-20 12:09:00      0
2021-10-20 12:11:00      0
2021-10-20 12:12:00      0
2021-10-20 12:13:00      0
2021-10-20 12:14:00      0

[168421 rows x 1 columns]

In [11]:
# a lot of values are 0 we dont need them
dfall = dfall[dfall["value"] != 0]

In [12]:
#check count again
dfall.count()

dateTime    59204
value       59204
dtype: int64

In [13]:
#output to csv
dfall.to_csv ('Steps.csv', index = None)